/* src/index.css */
:root {
  --primary-color: #00ffff;
  --secondary-color: #ff00ff;
  --bg-color: #0a0a1f;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Nasalization', sans-serif;
}


/* Apply the font to a specific class */
.nasalization-font {
  font-family: 'Nasalization', sans-serif;
}

/* Other Tailwind CSS imports */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
